/* Telas Maiores (Tablets e Desktops) */
@media screen and (min-width: 768px) {
    .container {
        width: 50%;
        max-width: 600px; /* Limitando a largura máxima */
        height: 500px; /* Definindo uma altura fixa */
        padding: 30px; /* Aumentando o espaçamento interno */
    }

    h1 {
        font-size: 2rem; /* Ajustando o tamanho do título */
        margin-top: 20px; /* Aumentando o espaçamento superior */
        position: relative;
        bottom: 70px;
    }

    #input {
        font-size: 16px; /* Ajustando o tamanho do texto de entrada */
        padding: 12px; /* Ajustando o preenchimento */
        margin-top: 50px; /* Aumentando o espaçamento superior */
    }

    button {
        font-size: 16px; /* Ajustando o tamanho do botão */
        padding: 12px; /* Ajustando o preenchimento */
         /* Aumentando o espaçamento superior */
    }

    p {
        font-size: 1.2rem; /* Ajustando o tamanho do texto de parágrafo */
        margin-top: 50px; /* Aumentando o espaçamento superior */
    }
}