/* Media query para dispositivos com largura de viewport menor que 768px */
@media screen and (max-width: 767px) {
    .container {
        width: 90vw;
        max-width: 600px;
        margin: auto;
    }
}

/* Media query para dispositivos com largura de viewport maior ou igual a 768px */
@media screen and (min-width: 768px) {
    .container {
        width: 50%;
        max-width: 600px;
        height: 500px;
        padding: 30px;
    }

    h1 {
        font-size: 2rem;
        margin-top: 20px;
        position: relative;
        bottom: 70px;
    }

    #input {
        font-size: 16px;
        padding: 12px;
        margin-top: 30px;
        position: relative;
        bottom: 10px;
    }

    button {
        font-size: 16px;
        padding: 12px;
        font-weight: bold;
        position: relative;
        bottom: 10px;
    }

    #area {
        font-size: 1.3rem;
        top: 30px;
    }
}

/* Media query para dispositivos com largura de viewport maior ou igual a 1200px */
@media screen and (min-width: 1200px) {
    .container {
        width: 50%;
        max-width: 800px;
        height: 500px;
        padding: 30px;
    }

    h1 {
        font-size: 2.3rem;
        margin-top: 20px;
        position: relative;
        bottom: 70px;
    }

    #input {
        font-size: 20px;
        padding: 12px;
        margin-top: 30px;
        position: relative;
        bottom: 10px;
    }

    button {
        font-size: 20px;
        padding: 12px;
        font-weight: bold;
        position: relative;
        bottom: 10px;
    }

    #area {
        font-size: 1.3rem;
        top: 30px;
    }
}





