@media (max-width: 480px) {
    /*.container {
        width: 90%;
        max-width: 300px; 
        height: 500px; 
        max-height: 600px; 
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.6rem; 
        position: relative;
        bottom: 50px;
    }

    #input {
        font-size: 14px; 
        padding: 10px;
        position: relative;
        bottom: 50px;
       
    }

    button {
        font-size: 14px; 
        padding: 10px;
        position: relative;
        bottom: 50px;
    }

    p {
        font-size: 1rem; 
        margin-top: 30px; 
    }
}
*/
/*Tablet*/

/* Telas Maiores (Tablets e Desktops) */
@media screen and (min-width: 768px) {
    .container {
        width: 50%;
        max-width: 600px; /* Limitando a largura máxima */
        height: 500px; /* Definindo uma altura fixa */
        padding: 30px; /* Aumentando o espaçamento interno */
    }

    h1 {
        font-size: 2rem; /* Ajustando o tamanho do título */
        margin-top: 20px; /* Aumentando o espaçamento superior */
        margin-bottom: 0px; /* Removendo a margem inferior */
    }

    #input {
        font-size: 16px; /* Ajustando o tamanho do texto de entrada */
        padding: 12px; /* Ajustando o preenchimento */
        margin-top: 20px; /* Aumentando o espaçamento superior */
    }

    button {
        font-size: 16px; /* Ajustando o tamanho do botão */
        padding: 12px; /* Ajustando o preenchimento */
        margin-top: 20px; /* Aumentando o espaçamento superior */
    }

    p {
        font-size: 1.2rem; /* Ajustando o tamanho do texto de parágrafo */
        margin-top: 50px; /* Aumentando o espaçamento superior */
    }
}

/* Telas Maiores em Orientação Paisagem */
@media screen and (min-width: 768px) and (orientation: landscape) {
    .container {
        width: 80%; /* Reduzindo a largura para ajustar a orientação paisagem */
        height: 300px; /* Definindo uma altura fixa */
    }
}