@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../imagens/imagembraba.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh; /* Alterado para ocupar toda a altura da tela */
    padding: 20px; /* Adicionado um padding ao redor do corpo */
}

.container {
    width: 100%;
    max-width: 350px;
    background-color: #0808089d; /* Cinza Médio */
    height: 550px; /* Altura ajustada */
    margin: 30px auto; /* Centraliza horizontalmente com margem superior */
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    border: 1px solid;
}

h1 {
    font-size: 1.9rem;
    color: #FFFFFF; /* Branco */
    text-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
    margin-top: 50px;
}

#input {
    margin-top: 30%;
    padding: 12px;
    border-radius: 5px 5px 0 0; /* Bordas arredondadas no topo */
    border: 1px solid black;
    font-size: 16px;
    width: calc(100% - 22px); /* Ajusta largura para compensar padding e bordas */
    margin-bottom: -1px; /* Remove o espaçamento entre input e botão */
    text-align: center;
    outline: none;
}

button {
    padding: 12px;
    width: calc(100% - 22px); /* Ajusta largura para compensar padding e bordas */
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    border: 1px solid black;
    border-radius: 0 0 5px 5px; /* Bordas arredondadas na base */
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.199);
}

button:active {
    background-color: rgb(61, 56, 56);
}

p {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    margin-top: 70px;
    
}